{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block content %}
    <h2>Modifier mon profil</h2>

    {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
